template(name='dev')
    .ui.container
        .ui.header 
            +i name='code'
            |dev
        //- +call_method name='convert_objects'
        div
        .ui.input
            input.method_name(type='text' placeholder='call method')
