body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 110% !important;
    /*line-height: 200% !important;*/
    filter: invert(100%) !important;
    /* background: #3d3d3d !important; */
    background: rgba(0, 0, 0, .8) !important
}

.button {
    margin-bottom: 4px !important;
    border-radius: 10px !important;
}


.inline {
    display:inline !important;
    margin: .5em !important;2
}
