body {
    font-family: 'Ubuntu', sans-serif !important;
    /* font-size: 120% !important; */
    /* line-height: 200% !important; */
    /* filter: invert(100%) !important; */
    /* background: #3d3d3d !important; */
    background: rgba(0, 0, 0, .6) !important
}

.button, .label {
    margin-bottom: 4px !important;
    /* border-radius: 10px !important; */
    /* color: white !important; */
    /* background-color: grey !important; */
}

.scrolling::-webkit-scrollbar {
    display: none;
}
.active.button {
    color: black !important;
    background-color: darkgrey !important;
}
/* .button:hover {
    color: black !important;
    background-color: darkgrey !important; */
/* } */ */


.inline {
    display:inline !important;
    margin: .5em !important;2
}


.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:100vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}
