template(name='te_store_nav')
    .ui.attached.borderless.inverted.small.grey.menu
        a.item(href="/t/#{current_tribe.slug}/admin/store/orders") 
            +i name='list' classes='ui avatar image'
            | orders
        a.item(href="/t/#{current_tribe.slug}/admin/store/products")
            +i name='product' classes='ui avatar image'
            | products
        a.item(href="/t/#{current_tribe.slug}/admin/store/delivery")
            +i name='delivery' classes='ui avatar image'
            | delivery
        a.item(href="/t/#{current_tribe.slug}/admin/store/settings")
            +i name='settings' classes='ui avatar image'
            | settings
                   

template(name='admin_store')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='shop'
                    |admin store
template(name='admin_store_orders')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='list'
                    |admin store orders
                    
                    
                    
                    
                    
                    
                    
template(name='admin_store_products')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='product'
                    |admin store products
                .ui.button
                    i.plus.icon
                    |add product    
                    
                    
                    
                    
                    
                    
                    
template(name='admin_store_delivery')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='delivery'
                    |admin store delivery
                .ui.header Delivery options
                .ui.header Shipping options
                .ui.header Add shipping option
                .ui.header Pickup options
                .ui.header Add pickup option
                         
                    
                    
template(name='admin_store_settings')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='settings'
                    |admin store settings
                .ui.header Store settings
                .ui.small.header Customer emails
                |Order successfully created
                |Sent automatically after customer completes checkout

                .ui.header Order shipped / fulfilled
                |Sent automatically when order is marked fulfilled

                .ui.header Order cancelled
                |Sent automatically when order is marked cancelled

                .ui.header Admin notifications
                |New order
                |Sent automatically after customer completes checkout

                .ui.header Payment methods
                |Specify which payment methods do you accept for your store:

                .ui.header You're currently accepting offline payments only. To enable online payments, go to Payment settings
                |Overview
                 
